<app-settings-section
  [title]="settingsText.TopicsSectionTitle | translate"
  [subtitle]="settingsText.TopicsSectionSubtitle | translate"
>
  <div class="chip-row">
    <button
      type="button"
      class="topic-chip topic-chip--all"
      [ngClass]="{ 'topic-chip--selected': !isAllTopicsSelected() }"
      (click)="toggleAllTopics.emit()"
    >
      <span class="topic-label">{{ allTopicsLabel | translate }}</span>
    </button>

    <button
      type="button"
      *ngFor="let topic of topics"
      class="topic-chip"
      [ngClass]="{ 'topic-chip--selected': isTopicSelected(topic) }"
      (click)="topicChipClicked.emit(topic)"
    >
      <span class="topic-label">{{ ('topics.' + topic) | translate }}</span>
    </button>
  </div>

  <div class="settings-toggle-row">
    <div class="settings-toggle-label">
      <h3>{{ settingsText.PerTopicToggleTitle | translate }}</h3>
      <p class="toggle-description">
        {{ settingsText.PerTopicToggleDescription | translate }}
      </p>
    </div>
    <div class="toggle-wrapper">
      <ion-toggle
        color="primary"
        [checked]="onePerTopic"
        (ionChange)="onePerTopicChange.emit($event.detail.checked)"
      ></ion-toggle>
    </div>
  </div>
</app-settings-section>

