<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <img
        src="assets/icon/favicon.png"
        alt="FactMe"
        class="app-header-favicon"
      />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="showSettingsButton"
        class="header-action-button button-round"
        (click)="settingsClick.emit()"
      >
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="showBack"
        class="header-action-button"
        (click)="backClick.emit()"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

