<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          *ngIf="showBack"
          defaultHref="/home"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{ headerTitle }}</ion-title>
      <ion-buttons slot="end">
        <ion-button
          *ngIf="showSettingsButton"
          [routerLink]="['/settings']"
        >
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
