<div class="home-wrapper">
  <app-home-date-header
    [dateLabel]="dateLabel"
    [isLoading]="isLoading"
  ></app-home-date-header>

  <ng-container *ngIf="!isLoading && hasFacts && !error">
    <app-home-fact-card
      *ngFor="let f of facts"
      [fact]="f"
    ></app-home-fact-card>
  </ng-container>

  <div class="fact-card empty" *ngIf="!isLoading && !hasFacts && !error">
    <p class="fact-description">
      {{ homeText.EmptyMessage | translate }}
    </p>
  </div>

  <div class="fact-card error" *ngIf="error">
    <p class="error-text">
      {{ error | translate }}
    </p>
  </div>

  <ion-spinner
    *ngIf="isLoading"
    class="loading-spinner"
    name="crescent"
  ></ion-spinner>
</div>

