.home-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 16px 96px;
  gap: 16px;
}

.fact-card.empty,
.fact-card.error {
  text-align: center;
}

.error-text {
  --color: var(--app-primary);
}

.loading-spinner {
  margin-left: auto;
  margin-right: auto;
}
