.language-select-wrapper {
  width: fit-content;
  min-width: 50px;
  margin-left: auto;
  border-radius: 16px;
  box-shadow: var(--app-light-elevation-shadow);
  overflow: hidden;
}

.language-select {
  --background: var(--app-primary);
  --border-radius: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 0;
  --padding-bottom: 0;
  --min-height: 30px;
  --color: var(--app-primary);
  --placeholder-color: var(--app-text-muted-7);
  --border-color: transparent;
  --border-color-focused: transparent;
  --highlight-color-focused: transparent;
  --highlight-color-valid: transparent;
  --highlight-color-invalid: transparent;
  width: 100%;
  margin-left: auto;
  min-height: 30px;
  height: 30px;
  overflow: hidden;

  &::part(container) {
    min-height: 30px;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &::part(text) {
    color: var(--app-primary-contrast);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &::part(icon) {
    display: none;
  }

  .select-wrapper {
    justify-content: center !important;
  }
}
