.language-select {
  --background: var(--ion-color-primary);
  --border-radius: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
  --color: var(--ion-color-primary);
  --placeholder-color: var(--app-text-muted-7);
  --border-color: transparent;
  --border-color-focused: transparent;
  --highlight-color-focused: transparent;
  --highlight-color-valid: transparent;
  --highlight-color-invalid: transparent;
  width: fit-content;
  max-width: 130px;
  margin-left: auto;

  &::part(text) {
    color: var(--ion-color-primary-contrast);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
  }

  &::part(icon) {
    display: none;
  }

  .select-wrapper {
    justify-content: center !important;
  }
}
