.home-content {
  --background: transparent;

  :host-context(.dark-theme) ion-refresher {
    --ion-background-color: #000;
    --ion-color-step-250: #000;
    --ion-background-color-step-250: #000;
    --ion-background-color-step-200: #000;
    --ion-color-step-200: #000;
  }

  :host-context(.light-theme) ion-refresher {
    --ion-background-color: #fff;
    --ion-color-step-250: #fff;
    --ion-background-color-step-250: #fff;
    --ion-background-color-step-200: #fff;
    --ion-color-step-200: #fff;
  }
}
