<app-settings-section
  [title]="settingsText.InfoSectionTitle | translate"
>
  <div class="info-inset">
    <ul class="info-swipe-list">
      <li class="info-swipe-item">
        <span class="info-swipe-label">{{ settingsText.InfoSwipeLeft | translate }}</span>
      </li>
      <li class="info-swipe-item">
        <span class="info-swipe-label">{{ settingsText.InfoSwipeRight | translate }}</span>
      </li>
      <li class="info-swipe-item">
        <span class="info-swipe-label">{{ settingsText.InfoSwipeRefresh | translate }}</span>
      </li>
    </ul>
  </div>
</app-settings-section>
