.info-inset {
  margin: 0 -16px 0 -16px;
}

.info-swipe-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-swipe-item {
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
  border-top: 1px solid rgba(195, 166, 166, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.18);
  background: rgba(255, 255, 255, 0.04);
}

:host-context(.light-theme) .info-swipe-item {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow:  inset 0 2px 6px rgba(0, 0, 0, 0.06);
  background: rgba(0, 0, 0, 0.04);
}

.info-swipe-label {
  font-size: 14px;
  line-height: 1.4;
  color: var(--ion-text-color);
}

:host-context(.light-theme) .info-swipe-label {
  color: #000;
}
