<ion-content [fullscreen]="true" class="settings-content">
  <app-settings-topics-section
    [settingsText]="settingsText"
    [topics]="topics"
    [selectedTopics]="settings.selectedTopics"
    [allTopicsLabel]="allTopicsLabel"
    [onePerTopic]="settings.onePerTopic"
    (toggleAllTopics)="toggleAllTopics()"
    (topicChipClicked)="onTopicChipClicked($event)"
    (onePerTopicChange)="onOnePerTopicChange($event)"
  ></app-settings-topics-section>

  <app-settings-theme-language-section
    [settingsText]="settingsText"
    [isLightTheme]="settings.theme === 'light'"
    [language]="settings.language || defaultLanguage"
    [defaultLanguage]="defaultLanguage"
    [languages]="languages"
    (themeToggleChange)="onThemeToggleChange($event)"
    (languageChange)="onLanguageChange($event)"
  ></app-settings-theme-language-section>

  <app-settings-notifications-section
    [settingsText]="settingsText"
    [notificationsEnabled]="settings.notificationsEnabled"
    [notificationTime]="settings.notificationTime"
    [notificationWeekdays]="settings.notificationWeekdays || []"
    (notificationsToggleChange)="onNotificationsToggleChange($event)"
    (timeChanged)="onTimeChanged($event)"
    (weekdaysChanged)="onNotificationWeekdaysChanged($event)"
  ></app-settings-notifications-section>

  <app-settings-data-section
    [settingsText]="settingsText"
    [canClearSeenFacts]="canClearSeenFacts"
    (clearSeenFacts)="onClearSeenFacts()"
  ></app-settings-data-section>

  <app-settings-info-section
    [settingsText]="settingsText"
  ></app-settings-info-section>
</ion-content>
